footer{
    background: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    margin-top: 5rem;
    border-top: .5rem solid grey;
}
footer i{ 
    font-size: 2rem;
    transition: all 300ms linear; 
}
footer a:not(:last-child){
    margin-right: 1rem;
}
footer h6{
    font-size: 1.8rem;
    font-weight: 500;
}
footer .copyRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyRight h6{
    transition: all 400ms ease-out;
    text-decoration: underline;
    text-decoration-color: transparent;
}
.copyRight:hover > h6{
    text-decoration-color: black;
}
footer .copyRight img{
    height: 3rem;
    margin-left: 1rem;
}
footer i:hover{
    /* color: gray; */
}


@media screen and (max-width: 600px){
    footer{
        flex-direction: column;
        gap: 0.5em;
    }
}