/* BASIC RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* outline: .5px solid red; */
}

html{
    font-size: 62.5%;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
    color: black;
}
ul, li{
    list-style: none;
}
*::selection{
    background: black;
    color: blue;
}


/* GLOBAL */
.btn{
    text-transform: uppercase;
    border-radius: 2rem;
    background-color: rgb(94, 169, 255);
    color: white;
    font-weight: bold;
    transition: background-color 200ms ease-in-out;
}
.btn:hover{
    background-color: rgb(51, 146, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


/* HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2{
    margin-left: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 900;
}
.logo h2 span{
    font-size: 130%;
}
header ul{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}
header ul li:not(:last-child){
    margin-right: 2rem;
}
header .btn{
    padding: 0.5rem 1.5rem;
}
header ul a{
    text-transform: uppercase;
    transition: color 200ms ease-in-out;
}
header ul a:not(.btn):hover{
    color: grey
}
header ul li:not(:last-child)::after{
    height: 3px;
    width: 0;
    background-color: rgb(67, 155, 255);
    content: '';
    display: block;
    margin: auto;
    border-radius: 100vw;
    transition: width 200ms ease-out 50ms;
}
header ul li:hover::after{
    width: 4rem;
    transition-delay: 300ms;
}

@media screen and (max-width: 800px){
    header{
        flex-direction: column;
        height: fit-content;
    }
}

/* LANDING AREA */
.landingArea{
    display: flex;
    height: 93vh;
    background-color: rgb(199, 242, 255);
    z-index: 0;
}
.landingArea .text, .landingArea .phone{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingArea .text{
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.7rem;
    padding-left: 5rem;
}
.landingArea .btn{
    padding: 1rem 2.5rem;
}
.landingArea .text h1{
    font-size: 6rem;
}
.landingArea .text p{
    margin: 0 0 3rem;
}
.phone img{
    z-index: 2;
    animation: phoneBob 4s linear infinite;
}

@keyframes phoneBob{
    0%, 100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(-45px);
    }
    
}
.phone .circle{
    height: 350px;
    width: 350px;
    background: rgb(94, 169, 255);
    border-radius: 100vw;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    animation: circleGrow 4s linear infinite;
}
@keyframes circleGrow{
    0%, 100%{
        height: 350px;
        width: 350px;
        background: #f1fbff;;
    }
    50%{
        height: 360px;
        width: 360px;
        background:rgb(199, 242, 255);
    }
}




/* GRID SHOW */

.gridShow{
    width: calc(100%-0);
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridShow h2{
    font-size: 5rem;
    margin: 2rem auto 5rem;
}
.gridShow .gridCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}
.gridShow .gridCard .image{
    overflow: hidden;
    background-position: center center;
}
#gridCard1 .image{
    background: url(../img/grid/1.jpeg);
    background-size: 100%;
}
#gridCard2 .image{
    background: url(../img/grid/2.jpeg);
    background-size: 100%;
}
#gridCard3 .image{
    background: url(../img/grid/3.jpeg);
    background-size: 100%;
}
.gridCard .image, .gridCard .text{
    height: 100%;
    width: 50%;
}
.gridShow .gridCard .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.gridShow .gridCard .text h3{
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.gridShow .gridCard .text h5{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.gridShow .gridCard .text p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}
.gridShow .text h3, .text h5, .text p{
    margin: 0 6rem;
}