<div class="socialIcons">
    <template><a href="#" target="_blank"><i class=""></i></a></template>
</div>
<a href="http://gavinpereira.in" target="_blank">
    <div class="copyRight">
        <h6>&copy;Gavin Pereira</h6>
        <img src="img/icon/gpLogo.svg" alt="">
    </div>
</a>

<script>

    var footerLinks = [
        {
            name: 'Instagram',
            classes: ['fab', 'fa-instagram'],
            link: '//instagram.com/pexeixv',
        },
        {
            name: 'Github',
            classes: ['fab', 'fa-github'],
            link: '//github.com/pexeixv'
        },
        {
            name: 'Email',
            classes: ['fas', 'fa-envelope'],
            link: 'mailto:connect@gavinpereira.in'
        },
        {
            name: 'Facebook',
            classes: ['fab', 'fa-facebook'],
            link: '//facebook.com/pexeixv'
        },
    ]

    var socialIcons = document.querySelector('.socialIcons');


    footerLinks.forEach(footerLink => {
        var template = socialIcons.querySelector('template').content.cloneNode(true);
        var a = template.querySelector('a');
        var i = template.querySelector('i');
        a.href = footerLink.link;
        i.setAttribute('id', footerLink.name.toLowerCase());
        footerLink.classes.forEach(clas => {
            i.classList.add(clas);
        })
        socialIcons.appendChild(template)
    })



    var icons = document.querySelectorAll('.socialIcons i');


    icons.forEach(currentIcon => {
        currentIcon.addEventListener('mouseenter', e => {
            icons.forEach(icon => {
                if (currentIcon.id !== icon.id) {
                    icon.style.color = 'gray';
                }
            })
        })
        currentIcon.addEventListener('mouseleave', e => {
            icons.forEach(icon => {
                icon.style.color = 'black';
            })
        })
    })

</script>